@font-face {
  font-family: "PktWallet2";
  font-display: swap;
  src: url("pktwallet2.eot?f2bix4");
  src: url("pktwallet2.eot?f2bix4#iefix") format("embedded-opentype"),
    url("pktwallet2.ttf?f2bix4") format("truetype"),
    url("pktwallet2.woff?f2bix4") format("woff"),
    url("pktwallet2.svg?f2bix4#pktwallet2") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="PKW-"],
[class*=" PKW-"] {
  font-family: "PktWallet2" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.PKW-pktw-add-submenu:before {
  content: "\e900";
}
.PKW-pktw-alert:before {
  content: "\e901";
}
.PKW-pktw-align-center:before {
  content: "\e902";
}
.PKW-pktw-align-justify:before {
  content: "\e903";
}
.PKW-pktw-align-left:before {
  content: "\e904";
}
.PKW-pktw-align-right:before {
  content: "\e905";
}
.PKW-pktw-android:before {
  content: "\e906";
}
.PKW-pktw-apple:before {
  content: "\e907";
}
.PKW-pktw-arrow-down:before {
  content: "\e908";
}
.PKW-pktw-arrow-next:before {
  content: "\e909";
}
.PKW-pktw-arrow-prev:before {
  content: "\e90a";
}
.PKW-pktw-arrow-up:before {
  content: "\e90b";
}
.PKW-pktw-bold:before {
  content: "\e90c";
}
.PKW-pktw-bookmark:before {
  content: "\e90d";
}
.PKW-pktw-bootstrap:before {
  content: "\e90e";
}
.PKW-pktw-briefcase:before {
  content: "\e90f";
}
.PKW-pktw-browse:before {
  content: "\e910";
}
.PKW-pktw-bulleted-list:before {
  content: "\e911";
}
.PKW-pktw-calendar:before {
  content: "\e912";
}
.PKW-pktw-camera:before {
  content: "\e913";
}
.PKW-pktw-cart-add:before {
  content: "\e914";
}
.PKW-pktw-cart-full:before {
  content: "\e915";
}
.PKW-pktw-cash:before {
  content: "\e916";
}
.PKW-pktw-change-style:before {
  content: "\e917";
}
.PKW-pktw-chat:before {
  content: "\e918";
}
.PKW-pktw-clock:before {
  content: "\e919";
}
.PKW-pktw-close:before {
  content: "\e91a";
}
.PKW-pktw-cloud:before {
  content: "\e91b";
}
.PKW-pktw-code:before {
  content: "\e91c";
}
.PKW-pktw-contact-form:before {
  content: "\e91d";
}
.PKW-pktw-credit-card:before {
  content: "\e91e";
}
.PKW-pktw-cursor-click:before {
  content: "\e91f";
}
.PKW-pktw-cust-feedback:before {
  content: "\e920";
}
.PKW-pktw-database:before {
  content: "\e921";
}
.PKW-pktw-delivery:before {
  content: "\e922";
}
.PKW-pktw-desktop:before {
  content: "\e923";
}
.PKW-pktw-devices:before {
  content: "\e924";
}
.PKW-pktw-down:before {
  content: "\e925";
}
.PKW-pktw-download-2:before {
  content: "\e926";
}
.PKW-pktw-download:before {
  content: "\e927";
}
.PKW-pktw-drag-n-drop-2:before {
  content: "\e928";
}
.PKW-pktw-drag-n-drop:before {
  content: "\e929";
}
.PKW-pktw-edit-2:before {
  content: "\e92a";
}
.PKW-pktw-edit:before {
  content: "\e92b";
}
.PKW-pktw-error:before {
  content: "\e92c";
}
.PKW-pktw-extension:before {
  content: "\e92d";
}
.PKW-pktw-features:before {
  content: "\e92e";
}
.PKW-pktw-file:before {
  content: "\e92f";
}
.PKW-pktw-flag:before {
  content: "\e930";
}
.PKW-pktw-folder:before {
  content: "\e931";
}
.PKW-pktw-gift:before {
  content: "\e932";
}
.PKW-pktw-github:before {
  content: "\e933";
}
.PKW-pktw-globe-2:before {
  content: "\e934";
}
.PKW-pktw-globe:before {
  content: "\e935";
}
.PKW-pktw-growing-chart:before {
  content: "\e936";
}
.PKW-pktw-hearth:before {
  content: "\e937";
}
.PKW-pktw-help:before {
  content: "\e938";
}
.PKW-pktw-home:before {
  content: "\e939";
}
.PKW-pktw-hot-cup:before {
  content: "\e93a";
}
.PKW-pktw-idea:before {
  content: "\e93b";
}
.PKW-pktw-image-gallery:before {
  content: "\e93c";
}
.PKW-pktw-image-slider:before {
  content: "\e93d";
}
.PKW-pktw-info:before {
  content: "\e93e";
}
.PKW-pktw-italic:before {
  content: "\e93f";
}
.PKW-pktw-key:before {
  content: "\e940";
}
.PKW-pktw-laptop:before {
  content: "\e941";
}
.PKW-pktw-layers:before {
  content: "\e942";
}
.PKW-pktw-left-right:before {
  content: "\e943";
}
.PKW-pktw-left:before {
  content: "\e944";
}
.PKW-pktw-letter:before {
  content: "\e945";
}
.PKW-pktw-like:before {
  content: "\e946";
}
.PKW-pktw-link:before {
  content: "\e947";
}
.PKW-pktw-lock:before {
  content: "\e948";
}
.PKW-pktw-login:before {
  content: "\e949";
}
.PKW-pktw-logout:before {
  content: "\e94a";
}
.PKW-pktw-magic-stick:before {
  content: "\e94b";
}
.PKW-pktw-map-pin:before {
  content: "\e94c";
}
.PKW-pktw-menu:before {
  content: "\e94d";
}
.PKW-pktw-mobile-2:before {
  content: "\e94e";
}
.PKW-pktw-mobile-horizontal:before {
  content: "\e94f";
}
.PKW-pktw-mobile:before {
  content: "\e950";
}
.PKW-pktw-pktwallet:before {
  content: "\e951";
}
.PKW-pktw-more-horizontal:before {
  content: "\e952";
}
.PKW-pktw-more-vertical:before {
  content: "\e953";
}
.PKW-pktw-music:before {
  content: "\e954";
}
.PKW-pktw-new-file:before {
  content: "\e955";
}
.PKW-pktw-numbered-list:before {
  content: "\e956";
}
.PKW-pktw-opened-folder:before {
  content: "\e957";
}
.PKW-pktw-pages:before {
  content: "\e958";
}
.PKW-pktw-paper-plane:before {
  content: "\e959";
}
.PKW-pktw-paperclip:before {
  content: "\e95a";
}
.PKW-pktw-phone:before {
  content: "\e95b";
}
.PKW-pktw-photo:before {
  content: "\e95c";
}
.PKW-pktw-photos:before {
  content: "\e95d";
}
.PKW-pktw-pin:before {
  content: "\e95e";
}
.PKW-pktw-play:before {
  content: "\e95f";
}
.PKW-pktw-plus:before {
  content: "\e960";
}
.PKW-pktw-preview:before {
  content: "\e961";
}
.PKW-pktw-print:before {
  content: "\e962";
}
.PKW-pktw-protect:before {
  content: "\e963";
}
.PKW-pktw-question:before {
  content: "\e964";
}
.PKW-pktw-quote-left:before {
  content: "\e965";
}
.PKW-pktw-quote-right:before {
  content: "\e966";
}
.PKW-pktw-redo:before {
  content: "\e967";
}
.PKW-pktw-refresh:before {
  content: "\e968";
}
.PKW-pktw-responsive-2:before {
  content: "\e969";
}
.PKW-pktw-responsive:before {
  content: "\e96a";
}
.PKW-pktw-right:before {
  content: "\e96b";
}
.PKW-pktw-rocket:before {
  content: "\e96c";
}
.PKW-pktw-sad-face:before {
  content: "\e96d";
}
.PKW-pktw-sale:before {
  content: "\e96e";
}
.PKW-pktw-save:before {
  content: "\e96f";
}
.PKW-pktw-search:before {
  content: "\e970";
}
.PKW-pktw-setting-2:before {
  content: "\e971";
}
.PKW-pktw-setting-3:before {
  content: "\e972";
}
.PKW-pktw-setting:before {
  content: "\e973";
}
.PKW-pktw-share:before {
  content: "\e974";
}
.PKW-pktw-shopping-bag:before {
  content: "\e975";
}
.PKW-pktw-shopping-basket:before {
  content: "\e976";
}
.PKW-pktw-shopping-cart:before {
  content: "\e977";
}
.PKW-pktw-sites:before {
  content: "\e978";
}
.PKW-pktw-smile-face:before {
  content: "\e979";
}
.PKW-pktw-speed:before {
  content: "\e97a";
}
.PKW-pktw-star:before {
  content: "\e97b";
}
.PKW-pktw-success:before {
  content: "\e97c";
}
.PKW-pktw-sun:before {
  content: "\e97d";
}
.PKW-pktw-sun2:before {
  content: "\e97e";
}
.PKW-pktw-tablet-vertical:before {
  content: "\e97f";
}
.PKW-pktw-tablet:before {
  content: "\e980";
}
.PKW-pktw-target:before {
  content: "\e981";
}
.PKW-pktw-timer:before {
  content: "\e982";
}
.PKW-pktw-to-ftp:before {
  content: "\e983";
}
.PKW-pktw-to-local-drive:before {
  content: "\e984";
}
.PKW-pktw-touch-swipe:before {
  content: "\e985";
}
.PKW-pktw-touch:before {
  content: "\e986";
}
.PKW-pktw-trash:before {
  content: "\e987";
}
.PKW-pktw-underline:before {
  content: "\e988";
}
.PKW-pktw-undo:before {
  content: "\e989";
}
.PKW-pktw-unlink:before {
  content: "\e98a";
}
.PKW-pktw-unlock:before {
  content: "\e98b";
}
.PKW-pktw-up-down:before {
  content: "\e98c";
}
.PKW-pktw-up:before {
  content: "\e98d";
}
.PKW-pktw-update:before {
  content: "\e98e";
}
.PKW-pktw-upload-2:before {
  content: "\e98f";
}
.PKW-pktw-upload:before {
  content: "\e990";
}
.PKW-pktw-user-2:before {
  content: "\e991";
}
.PKW-pktw-user:before {
  content: "\e992";
}
.PKW-pktw-users:before {
  content: "\e993";
}
.PKW-pktw-video-play:before {
  content: "\e994";
}
.PKW-pktw-video:before {
  content: "\e995";
}
.PKW-pktw-watch:before {
  content: "\e996";
}
.PKW-pktw-website-theme-2:before {
  content: "\e997";
}
.PKW-pktw-website-theme:before {
  content: "\e998";
}
.PKW-pktw-wifi:before {
  content: "\e999";
}
.PKW-pktw-windows:before {
  content: "\e99a";
}
.PKW-pktw-zoom-in:before {
  content: "\e99b";
}
.PKW-pktw-zoom-out:before {
  content: "\e99c";
}
